<a href="{% url 'prospecting:index' %}">Home</a> < <a href="{% url 'prospecting:detail' account.id%}">Account Details</a>
<h1>{{ account.account_name }}</h1>
<h1>Account Details:</h1>
<p>Date Created: {{account.date_added}}<p>
<ul>
    <li>General E-mail: {{account.email}}</li>
    <li>Phone: {{account.phone}}</li>
    <li>Address:
        <ul>
        <li>Street: {{account.street}}</li>
        <li>City: {{account.city}}</li>
        <li>State: {{account.state}}</li>
        <li>Zipcode: {{account.zipcode}}</li>
        <li>Country: {{account.country}}</li>
    </ul>
    </li>
    <li>Linked In: {{account.linkedin}}</li>
    <li>Account Status: {{account.account_status}}</li>
</ul>
<p>Notes: {{account.account_notes|linebreaks}}<p>

<h3>Available Prospects:</h3>

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<form action="{% url 'prospecting:prospect_view' account.id %}" method="post">
{% csrf_token %}
{% for prospect in account.prospect_set.all %}
    <input type="radio" name="prospect" id="prospect{{ forloop.counter }}" value="{{ prospect.id }}" />
    <label for="prospect{{ forloop.counter }}">{{ prospect.full_name }}</label><br />
{% endfor %}
<br />
<input type="submit" value="View" />
</form>
