{% extends "prospecting/base.html" %} {% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'prospecting/style.css' %}" />
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/sortable/0.8.0/js/sortable.js" />
{% block header %}
{% endblock header %} {% block content %}
<br/><br/>
<div class="row">
   <div class="col s4">
     <div class="card">
       <div class="card-image">
         <img src="static/prospecting/images/008-panda-2.svg" height="200">
       </div>
       <div class="card-content">
         <p>Register To Get Started</p>
       </div>
       <div class="card-action">
    <a href="{% url 'users:register' %}" class="green-text"> REGISTER </a>
</div>
  </div>
</div>
   <div class="col s4">
     <div class="card">
       <div class="card-image">
         <img src="static/prospecting/images/002-asian.svg" height="200">
       </div>
       <div class="card-content">
         <p>Add a new Account</p>
       </div>
       <div class="card-action">
           <a href="{% url 'prospecting:new_account' %}" class="green-text"> ADD ACCOUNT </a>
       </div>
         </div>
       </div>
   <div class="col s4">
     <div class="card">
       <div class="card-image">
         <img src="static/prospecting/images/001-grass.svg" height="200">
       </div>
       <div class="card-content">
         <p>Start Your Outreach</p>
       </div>
       <div class="card-action">
           <a href="{% url 'prospecting:dashboard' %}" class="green-text"> OUTREACH </a>
       </div>
         </div>
       </div>
       </div>

<h1>PANDA DASH</h1>
       <table class="responsive-table highlight sortable">
  <thead>
    <tr>
        <th>Name</th>
        <th>Date Added</th>
        <th>City</th>
        <th>State</th>
        <th>Status</th>
        <th>Owner</th>
        <th>Industry</th>
    </tr>
  </thead>

  <tbody>
       {% if latest_account_list %}
    <tr>
        {% for account in latest_account_list %}
      <td><a href="{% url 'prospecting:detail' account.id %}">{{account.account_name}}</a></td>
      <td>{{account.date_added}}</td>
      <td>{{account.city}}</td>
      <td>{{account.state}}</td>
      <td>{{account.account_status}}</td>
      <td>{{account.owner}}</td>
      <td>{{account.industry}}</td>

    </tr>
 {% endfor %}
    {% else %}
    <p>No accounts have been added.</p>
    {% endif %}
    </tbody>
</table>

{% endblock content %}
