{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'prospecting/style.css' %}" />
<a href="{% url 'prospecting:index' %}">Home</a>
<h1>My Accounts</h1>
{% if latest_account_list %}
    <ul>
        {% for account in latest_account_list %}
            <li><a href="{% url 'prospecting:detail' account.id %}">{{ account.account_name }}</a></li>
        {% endfor %}
    </ul>
{% else %}
    <p>No accounts have been added.</p>
{% endif %}
    <a href="{% url 'prospecting:new_account' %}">Add a new account:</a>
